<?xml version="1.0" encoding="utf-8"?>
<checkstyle version="4.3">
	<file name="src/app.js">
		<error line="23" column="6" severity="warning" message="Missing semicolon." source="jshint.W033" />
	</file>
	<file name="src/index.js">
		<error line="8" column="51" severity="warning" message="Missing semicolon." source="jshint.W033" />
	</file>
	<file name="src/public/js_libs/bootstrap.min.js">
		<error line="6" column="270" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="362" severity="warning" message="&apos;b&apos; is already defined." source="jshint.W004" />
		<error line="6" column="568" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="668" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="728" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="729" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="758" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1021" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1023" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="1024" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1025" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="1026" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1074" severity="warning" message="&apos;b&apos; is already defined." source="jshint.W004" />
		<error line="6" column="1083" severity="warning" message="Possible strict violation." source="jshint.W040" />
		<error line="6" column="1166" severity="warning" message="A constructor name should start with an uppercase letter." source="jshint.W055" />
		<error line="6" column="1206" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="1207" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1209" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1284" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1419" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1514" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="1782" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="1783" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1783" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="1897" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="1959" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="1960" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="2008" severity="warning" message="&apos;b&apos; is already defined." source="jshint.W004" />
		<error line="6" column="2017" severity="warning" message="Possible strict violation." source="jshint.W040" />
		<error line="6" column="2126" severity="warning" message="A constructor name should start with an uppercase letter." source="jshint.W055" />
		<error line="6" column="2175" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="2176" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="2178" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="2273" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="2274" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="2452" severity="warning" message="Use &apos;===&apos; to compare with &apos;null&apos;." source="jshint.W041" />
		<error line="6" column="2533" severity="warning" message="Use &apos;===&apos; to compare with &apos;null&apos;." source="jshint.W041" />
		<error line="6" column="2688" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="2689" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="2698" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="2699" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="3033" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="3034" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="3146" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="3147" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="3147" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="3266" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="3443" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="6" column="3444" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="3615" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="6" column="3615" severity="error" message="Too many errors. (85% scanned)." source="jshint.E043" />
	</file>
	<file name="src/public/js_libs/d3.min.js">
		<error line="1" column="25" severity="warning" message="&apos;n&apos; is already defined." source="jshint.W004" />
		<error line="1" column="59" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="96" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="126" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="274" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="1" column="275" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="284" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="413" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="1" column="414" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="423" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="425" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="455" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="503" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="598" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="638" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="689" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="738" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="773" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="829" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="893" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="947" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="998" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1038" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1118" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1119" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1259" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1325" severity="warning" message="&apos;t&apos; is already defined." source="jshint.W004" />
		<error line="1" column="1388" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="1" column="1398" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1414" severity="warning" message="Missing &apos;()&apos; invoking a constructor." source="jshint.W058" />
		<error line="1" column="1599" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1602" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1641" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1691" severity="warning" message="Expected a conditional expression and instead saw an assignment." source="jshint.W084" />
		<error line="1" column="1705" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1734" severity="warning" message="Missing &apos;()&apos; invoking a constructor." source="jshint.W058" />
		<error line="1" column="1906" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="1" column="1907" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1925" severity="warning" message="&apos;i&apos; used out of scope." source="jshint.W038" />
		<error line="1" column="1926" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1928" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1931" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="1963" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2035" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2036" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2108" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2109" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2162" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2215" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2251" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2251" severity="error" message="Too many errors. (20% scanned)." source="jshint.E043" />
	</file>
	<file name="src/public/js_libs/jquery-1.11.2.min.js">
		<error line="2" column="24" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="24" severity="error" message="Expected an identifier and instead saw &apos;==&apos;." source="jshint.E030" />
		<error line="2" column="26" severity="error" message="Expected an operator and instead saw &apos;typeof&apos;." source="jshint.E033" />
		<error line="2" column="26" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="2" column="32" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="205" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="210" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="2" column="211" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="411" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="517" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="619" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="648" severity="warning" message="Use &apos;!==&apos; to compare with &apos;null&apos;." source="jshint.W041" />
		<error line="2" column="696" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="805" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="849" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="934" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="937" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1002" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1038" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1074" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1169" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1232" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1498" severity="warning" message="Use &apos;!==&apos; to compare with &apos;null&apos;." source="jshint.W041" />
		<error line="2" column="1699" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="2" column="1709" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1821" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1892" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1954" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="1988" severity="warning" message="Use &apos;!==&apos; to compare with &apos;null&apos;." source="jshint.W041" />
		<error line="2" column="2004" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2069" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2131" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2334" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2352" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2438" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2468" severity="warning" message="Use &apos;===&apos; to compare with &apos;null&apos;." source="jshint.W041" />
		<error line="2" column="2549" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2601" severity="warning" message="eval can be harmful." source="jshint.W061" />
		<error line="2" column="2621" severity="warning" message="eval can be harmful." source="jshint.W061" />
		<error line="2" column="2631" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2635" severity="warning" message="Expected an assignment or function call and instead saw an expression." source="jshint.W030" />
		<error line="2" column="2636" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2698" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2784" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2885" severity="warning" message="Confusing use of &apos;!&apos;." source="jshint.W018" />
		<error line="2" column="2893" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2935" severity="warning" message="Confusing use of &apos;!&apos;." source="jshint.W018" />
		<error line="2" column="2943" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="2997" severity="warning" message="Confusing use of &apos;!&apos;." source="jshint.W018" />
		<error line="2" column="3005" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="2" column="3005" severity="error" message="Too many errors. (40% scanned)." source="jshint.E043" />
	</file>
	<file name="src/public/reports/lcov-report/prettify.js">
		<error line="1" column="2642" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2752" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2852" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2898" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="2959" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3023" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3052" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3123" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3209" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3219" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3526" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3602" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3613" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3720" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3793" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3855" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3895" severity="warning" message="&apos;ar&apos; is already defined." source="jshint.W004" />
		<error line="1" column="3977" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="3997" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4031" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4063" severity="warning" message="&apos;ar&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4091" severity="warning" message="&apos;at&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4163" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4181" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4214" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4514" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4592" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4606" severity="warning" message="&apos;ak&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4655" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4667" severity="warning" message="&apos;ak&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4672" severity="warning" message="&apos;am&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4693" severity="warning" message="&apos;ag&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4754" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4791" severity="warning" message="&apos;af&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4842" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4856" severity="warning" message="&apos;ak&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4861" severity="warning" message="&apos;am&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4918" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="4951" severity="warning" message="&apos;ak&apos; is already defined." source="jshint.W004" />
		<error line="1" column="4972" severity="warning" message="&apos;ag&apos; is already defined." source="jshint.W004" />
		<error line="1" column="5039" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="5173" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="5174" severity="warning" message="Don&apos;t make functions within a loop." source="jshint.W083" />
		<error line="1" column="5175" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="5197" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="5217" severity="warning" message="&apos;V&apos; is already defined." source="jshint.W004" />
		<error line="1" column="5221" severity="warning" message="&apos;U&apos; is already defined." source="jshint.W004" />
		<error line="1" column="5246" severity="warning" message="&apos;ae&apos; is already defined." source="jshint.W004" />
		<error line="1" column="5302" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="5327" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="1" column="5327" severity="error" message="Too many errors. (50% scanned)." source="jshint.E043" />
	</file>
	<file name="src/public/scripts/graph-creator.js">
		<error line="615" column="20" severity="warning" message="&apos;i&apos; is already defined." source="jshint.W004" />
	</file>
	<file name="src/public/scripts/main.js">
		<error line="12" column="26" severity="warning" message="Missing semicolon." source="jshint.W033" />
	</file>
	<file name="src/public/views/main.js">
		<error line="9" column="26" severity="warning" message="Missing semicolon." source="jshint.W033" />
	</file>
	<file name="src/requestHandlers.js">
		<error line="117" column="69" severity="warning" message="Missing semicolon." source="jshint.W033" />
	</file>
	<file name="test/BasicServerOps.test.js">
		<error line="3" column="56" severity="warning" message="Missing semicolon." source="jshint.W033" />
		<error line="54" column="19" severity="warning" message="Missing semicolon." source="jshint.W033" />
	</file>
</checkstyle>
