extends layout

block content
	.navigationBar
		button.btn.btn-primary(onclick="pullGraph()") Pull Graph
		button.btn.btn-primary(onclick="addNode()") Add Node
	br
	#graphContainer
	#nodePropertiesPane
		h2 Node Properties
		br
		#nodeFixedProperties
		#nodeEditableProperties
	#relPropertiesPane
		h2 Relationship Properties
		br
		#relFixedProperties
		#relEditableProperties