extends layout

block content
	.navigationBar
		button.btn.btn-primary(onclick="pullGraph()") Pull Graph
		button.btn.btn-primary(onclick="addNode()") Add Node
	br
	#graphContainer
	#sideMenu
		.navArrowContainer
			svg.navArrow(width="20px" height="20px" viewbox="0 0 .9 .9")
				use(xlink:href="#back-arrow")
		h2.sideMenuHeader
		br
		#fixedProperties
		#editablePrperties
		button.saveBtn.btn.btn-default(onclick="saveProperties()") Save