html
	head
		title Columbus - Neo4j Editor and Visualization Tool
		link(rel='stylesheet', href="stylesheets/bootstrap.min.css")
		link(rel='stylesheet', href="stylesheets/graph-creator.css")
		script(src='js_libs/jquery-1.11.2.min.js')
		script(src="js_libs/bootstrap.min.js")
		script(src="js_libs/d3.min.js")
		script(src="scripts/graph-creator.js")
		script(src="scripts/colors.js")
		script(src="scripts/main.js")
		script(src="scripts/displayGraph.js")

	body
		block content