extends layout

block content
	.navigationBar
		.navBarBtnList
			span
				button.btn.btn-success.navBarBtn#createNodeBtn(onclick="showCreateNodeSideMenu([0,0])")
					svg(width="30" height="30")
						use(xlink:href="#createNodeIcon")
				button.btn.btn-success.navBarBtn#createRelBtn(onclick="showCreateRelSideMenuFromBtn()")
					svg(width="25" height="25")
						use(xlink:href="#createRelIcon")
				button.btn.btn-success.navBarBtn#menuPrefsBtn(onclick="showSideMenuPrefs()")
					i.glyphicon.glyphicon-menu-hamburger
				button.btn.btn-success.navBarBtn#hoverInfoBtn(onclick="toggleInfoOnHover()")
					i.glyphicon.glyphicon-hand-up
				button.btn.btn-success.navBarBtn#filterBtn(onclick="showFilterSideMenu()")
					i.glyphicon.glyphicon-filter
				button.btn.btn-success.navBarBtn#searchBtn(onclick="showSearchSideMenu()")
					i.glyphicon.glyphicon-search		
				
	br
	.labelKeyContainer
		table.table.table-hover#labelKey
	#graphContainer
	#sideMenu
		.navArrowContainer
			svg.navArrow(width="20px" height="20px" viewbox="0 0 .9 .9")
				use(xlink:href="#back-arrow")
		span(id="loader" style="position:absolute")
			img(src="images/loader.gif")
		button.btn.btn-default.deleteBtn
			i.glyphicon.glyphicon-trash
		h3.sideMenuHeader
		br
		#fixedProperties
		#editableProperties
		br
		button.btn.btn-default.saveBtn Save
	.successToast
	.failToast
	.infoToast
	.nodeDataHover
		table.table.table-striped#nodeDataHoverTable
