extends layout

block content
	.navigationBar
		.navBarBtnList
			span
				button.btn.btn-success.navBarBtn#getNeighborBtn(onclick="getNeighbors()" data-container="body" data-toggle="tooltip2" title="Tree Walk: Get neighbors of a node" data-delay="2000")
					svg(width="20" height="20")
						use(xlink:href="#getNeighborsIcon")
				button.btn.btn-success.navBarBtn#shortestPathBtn(onclick="showShortestPathSideMenu();flipMenuArrow();" data-container="body" data-toggle="tooltip3" title="Shortest Path: Display all shortest paths between 2 nodes" data-delay="2000")
					svg(width="25" height="25")
						use(xlink:href="#shortestPathIcon")
				//button.btn.btn-success.navBarBtn#hideNodeAndNeighborsBtn(onclick="hideNodeAndNeighbors();flipMenuArrow();" data-container="body" data-toggle="tooltip11" title="Remove node from current display" data-delay="2000")
					svg(width="25" height="25")
						use(xlink:href="#hideNodeAndNeighborsIcon")
				button.btn.btn-success.navBarBtn#createNodeBtn(onclick="showCreateNodeSideMenu([0,0]);flipMenuArrow();" data-container="body" data-toggle="tooltip4" title="Create a new node" data-delay="2000")
					svg(width="30" height="30")
						use(xlink:href="#createNodeIcon")
				button.btn.btn-success.navBarBtn#createRelBtn(onclick="showCreateRelSideMenuFromBtn();flipMenuArrow();" data-container="body" data-toggle="tooltip5" title="Create a new relationship" data-delay="2000")
					svg(width="25" height="25")
						use(xlink:href="#createRelIcon")
				button.btn.btn-success.navBarBtn#menuPrefsBtn(onclick="showSideMenuPrefs();flipMenuArrow();" data-container="body" data-toggle="tooltip6" title="Customize preferences" data-delay="2000")
					i.glyphicon.glyphicon-menu-hamburger
				button.btn.btn-success.navBarBtn#hoverInfoBtn(onclick="toggleInfoOnHover()" data-container="body" data-toggle="tooltip7" title="Toggle hover mode to view properties" data-delay="2000")
					i.glyphicon.glyphicon-hand-up
				button.btn.btn-success.navBarBtn#filterBtn(onclick="toggleFilter()" data-container="body" data-toggle="tooltip8" title="Filter on the currently displayed data" data-delay="2000")
					i.glyphicon.glyphicon-filter
				button.btn.btn-success.navBarBtn#searchBtn(onclick="toggleSearch()" data-container="body" data-toggle="tooltip9" title="Search the entire database" data-delay="2000")
					i.glyphicon.glyphicon-search
				button.btn.btn-success.navBarBtn#advancedModeBtn(onclick="toggleAdvancedMode()" data-container="body" data-toggle="tooltip10" title="Advanced Mode: Directly enter Cypher queries to the database" data-delay="2000")
					i.glyphicon.glyphicon-sunglasses

	br
	.labelKeyContainer
		table.table.table-hover#labelKey
	#loader
		img(src="images/loader.gif")
	#graphContainer
	#sideMenu
		.navArrowContainer
			svg.navArrow(width="20px" height="20px" viewbox="0 0 .9 .9")
				use(xlink:href="#back-arrow")
		button.btn.btn-default.propertyEditBtn(data-container="body" data-toggle="tooltip12" title="Display large edit properties window" data-delay="2000")
			i.glyphicon.glyphicon-edit
		button.btn.btn-default.deleteBtn(data-container="body" data-toggle="tooltip13" title="Delete the selected node" data-delay="2000")
			i.glyphicon.glyphicon-trash
		h3.sideMenuHeader
		br
		#searchSpace
		#filterSpace
		#fixedProperties
		#editableProperties
		br
		button.btn.btn-default.saveBtn Save
		button.btn.btn-default.submitBtn Submit
	.successToast
	.failToast
	.infoToast
	.nodeDataHover
		table.table.table-striped#nodeDataHoverTable


	.advMode
		input.form-control#advModeInput(type="text"
		  onclick="if(this.value==='Enter Cypher query...'){this.value=''}")

	#alertBox
		#alertHeader Are You Sure?
		#alertMessage
		#confirmBtnsPosition
			#confirmBtns
				button.customBtn#noBtn Cancel
				button.customBtn#yesBtn Confirm
	#editPropertiesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(data-dismiss="modal" aria-label="close")
						span(aria-hidden="true")&times;
					h4#modalLabel.modal-title Edit Properties
				.modal-body
					table.table.table-striped.table-hover#editPropertiesModalTable
				.modal-footer
					button.btn.btn-default(data-dismiss="modal") Close
					button#modalSaveBtn.btn.btn-primary(data-dismiss="modal") Save
	#neo4jSettingsModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='modalLabel', aria-hidden='true')
		.modal-dialog.modal-lg
			.modal-content
				.modal-header
					button.close(data-dismiss="modal" aria-label="close")
						span(aria-hidden="true")&times;
					div
						img(src="images/neo4j_logo.png" height="45px")
						span(style="font-size:20px") &nbsp; Settings
				.modal-body
					table.neo4jSettingsTable
						tr
							td URL:
							td
								input#hostInput.form-control(type="text")
						tr
							td Port:
							td
								input#portInput.form-control(type="text")
						tr
							td
								div.radio
									label
										input(type="radio" name="httpVhttps" id="httpRadio")
										| HTTP 
							td
								div.radio
									label
										input(type="radio" name="httpVhttps" id="httpsRadio")
										| HTTPS 
						tr
							td &nbsp;
							td &nbsp;
						tr
							td Username:
							td
								input#userNameInput.form-control(type="text")
						tr
							td Password:
							td
								input#passwordInput.form-control(type="password")
				.modal-footer
					button.btn.btn-default(data-dismiss="modal") Close
					button#neo4jModalSaveBtn.btn.btn-primary Save
