extends layout

block content
	.navigationBar
		.navBarBtnList
			span
				button.btn.btn-success.navBarBtn(onclick="showCreateNodeSideMenu([0,0])")
					svg(width="30" height="30")
						use(xlink:href="#createNodeIcon")
				button.btn.btn-success.navBarBtn(onclick="showCreateRelSideMenuFromBtn()")
					svg(width="25" height="25")
						use(xlink:href="#createRelIcon")
				button.btn.btn-success.navBarBtn
					i.glyphicon.glyphicon-filter
				button.btn.btn-success.navBarBtn(onclick="showSearchSideMenu()")
					i.glyphicon.glyphicon-search
				
				
				
	br
	.labelKeyContainer
		table.table.table-hover#labelKey
	#graphContainer
	#sideMenu
		.navArrowContainer
			svg.navArrow(width="20px" height="20px" viewbox="0 0 .9 .9")
				use(xlink:href="#back-arrow")
		button.btn.btn-default.deleteBtn
			i.glyphicon.glyphicon-trash
		h3.sideMenuHeader
		br
		#fixedProperties
		#editableProperties
		br
		button.btn.btn-default.saveBtn Save
	.successToast
	.failToast
