html
	head
		title Columbus - Neo4j Editor and Visualization Tool
		link(rel='stylesheet', href="stylesheets/bootstrap.min.css")
		link(rel="stylesheet", href="stylesheets/mainStyle.css")
		link(rel="stylesheet", href="stylesheets/toastStyles.css")
		link(rel='stylesheet', href="stylesheets/graph-creator.css")
		link(rel='stylesheet', href="stylesheets/force-graph-creator.css")
		script(src='js_libs/jquery-1.11.2.min.js')
		script(src="js_libs/bootstrap.min.js")
		script(src="js_libs/d3.min.js")
		script(src="scripts/GraphCreators/force-graph-creator.js")
		script(src="scripts/Resources/colors.js")
		script(src="scripts/SideMenus/sideMenuProperties.js")
		script(src="scripts/SideMenus/sideMenuCreateNode.js")
		script(src="scripts/SideMenus/sideMenuCreateRel.js")
		script(src="scripts/Displays/displaySideMenu.js")
		script(src="scripts/Displays/displayGraph.js")
		script(src="scripts/Displays/displayForceGraph.js")
		script(src="scripts/Requests/ServerRequests.js")
		script(src="scripts/Validation/validateRelationship.js")
		script(src="scripts/Toasts/toasts.js")
		script(src="scripts/Displays/displayMain.js")
		
	body
		svg(height="0" width="0" style="position:absolute;margin-left: -100%;")
			path(id="back-arrow" d="M .5,0 l -.4,.4 l .4,.4 z")
		
		svg(width='0', height='0', xmlns='http://www.w3.org/2000/svg', xmlns:svg='http://www.w3.org/2000/svg')
			g#deleteSVG
				title Delete SVG
				|   
				line#svg_14(filter='url(#svg_14_blur)', y2='14', x2='13.9', y1='2.4', x1='2.2', stroke-linecap='null', stroke-linejoin='null', stroke-dasharray='null', stroke-width='2', stroke='#000000', fill='none')
				|   
				line#svg_16(filter='url(#svg_16_blur)', transform='rotate(-90 8.050000190734865,8.200000762939453) ', y2='14', x2='13.9', y1='2.4', x1='2.2', stroke-linecap='null', stroke-linejoin='null', stroke-dasharray='null', stroke-width='2', stroke='#000000', fill='none')
				|   
				line#svg_17(y2='14', x2='13.9', y1='2.4', x1='2.2', stroke-linecap='null', stroke-linejoin='null', stroke-dasharray='null', stroke-width='2', stroke='#000000', fill='none')
				|   
				line#svg_18(transform='rotate(-90 8.049999237060549,8.200000762939453) ', y2='14', x2='13.9', y1='2.4', x1='2.2', stroke-linecap='null', stroke-linejoin='null', stroke-dasharray='null', stroke-width='2', stroke='#000000', fill='none')
			|  
			defs
				filter#svg_14_blur
				fegaussianblur(stddeviation='0.4', in='SourceGraphic')
				|   
				filter#svg_16_blur
				fegaussianblur(stddeviation='0.4', in='SourceGraphic')
		
		svg(width='0', height='0', xmlns='http://www.w3.org/2000/svg', xmlns:svg='http://www.w3.org/2000/svg')
			g#createNodeIcon
				title Create Node Button
				|   
				circle#svg_1(fill='#00bf5f', stroke='#000000', stroke-width='3', cx='15.04545', cy='14.81818', r='9.32295')
				|   
				line#svg_3(fill='none', stroke='#ffffff', stroke-width='2', stroke-dasharray='null', stroke-linejoin='null', stroke-linecap='null', x1='18.68182', y1='15.09091', x2='18.68182', y2='22.72727')
				|   
				line#svg_4(fill='none', stroke='#ffffff', stroke-width='2', stroke-dasharray='null', stroke-linejoin='null', stroke-linecap='null', x1='18.68182', y1='15.09091', x2='18.68182', y2='22.72727', transform='rotate(90 18.68181800842285,18.90909004211426) ')
		
		svg(width='0', height='0', xmlns='http://www.w3.org/2000/svg', xmlns:svg='http://www.w3.org/2000/svg')
			g#createRelIcon
				title Create Relationship Button
				|   
				path#svg_18(fill='#000201', stroke-width='0', stroke-dasharray='null', stroke-linejoin='null', stroke-linecap='null', d='m12.55726,7.2604l11.46889,9.0402l1.34928,-13.76269l-12.81817,4.72249z', transform='rotate(2.243408441543579 15.704326629638672,8.222903251647953) translate(0,0.125) scale(0.800000011920929) ', stroke='#000000')
				|   
				rect#svg_12(fill='#00bf5f', stroke='#000000', stroke-dasharray='null', stroke-linejoin='null', stroke-linecap='null', x='3.22768', y='15.3727', width='19.86207', height='5.10345', transform='rotate(-50.06361389160156 10.14403438568115,14.058664321899412) translate(0,0.125) scale(0.800000011920929) ')
				|   
				path#svg_14(fill='#00bf5f', stroke-width='0', stroke-dasharray='null', stroke-linejoin='null', stroke-linecap='null', d='m14.46772,7.64537l8.88037,6.99983l1.04475,-10.65646l-9.92512,3.65663z', transform='rotate(2.243408441543579 15.442873001098663,7.5582351684570295) translate(-0.125,0.125) scale(0.800000011920929) ', stroke='#00bf5f')
				|   
				line#svg_19(fill='none', stroke-dasharray='null', stroke-linejoin='null', stroke-linecap='null', x1='22.43549', y1='23.74708', x2='27.95274', y2='23.74708', transform='translate(0,0.125) scale(0.800000011920929) ', stroke='#ffffff')
				|   
				line#svg_21(fill='none', stroke-dasharray='null', stroke-linejoin='null', stroke-linecap='null', x1='26.18549', y1='24.84083', x2='31.70274', y2='24.84083', stroke='#ffffff', transform='rotate(90 21.999042510986328,17.84141349792481) translate(0.125,-0.25) scale(0.800000011920929) ')


                

		block content
