path {
	fill: 'black';
	stroke-width: 4px;
}

.link text {
	font-size: 4px;
	font-family: Verdana;
	fill: gray;
	cursor:default;
}

.node {
 	stroke: #000;
  	stroke-width: 1.5px;
  	z-index:0;
}

.node:hover {
	stroke: gray;
}

.node text {
	stroke-width: .5px;
	font-family: Verdana;
	cursor:default;
}


.node.fixed {
  	fill: #f00;
}
