.navigationBar {
	position: fixed;
	background-color : rgba(0,0,0,.25);
	height: 44px;
	width: 100vw;
	padding: 2px;
	padding-left: 5px;
	box-shadow: 0px 0px 4px black;
	z-index: 2;
}

.navBarBtnList {
	float:right;
	margin-right: 25px;
}

.navBarBtn {
	width:30px;
	height:30px;
	margin-top:5px;
	margin-right:5px;
	padding:0;
}

#graphContainer {
	position: fixed;
	height:100vh;
	width:100vw;
	right:0;
	top:0;
	z-index:1;
}

#sideMenu {
	position: fixed;
	max-height: calc(100vh - 40px);
	height: 100vh;
	width: 400px;
	right: -365px;
	top:44px;
	background-color: rgba(230,230,230,1);
	z-index: 3;
	box-shadow: 2px 0px 6px -2px #888 inset,
				2px 0px 6px 2px #888 inset;
	padding-left: 40px;
	overflow-y: auto;
}


.saveBtn {
	margin-left: 120px;
	margin-bottom: 10px;
	display:none;
}

.deleteBtn {
	position: absolute;
	top: 22px;
	right: 25px;
	display:none;
}

.addPropBtn {
	margin-left: 20px;
	margin-bottom: 10px;
	display:none;
}

.deletePropBtn:hover {
	cursor: pointer;
	background-color: rgba(255,0,0, .1);
}

.propertyTable {
	width:85%;
}

.propertyTable td {
	padding: 5px;
}

.navArrowContainer {
	position: absolute;
	top: calc(50vh - 40px);
	left: 10px;
}

.navArrow {
	pointer-events: all;
	fill: black;
}

.navArrow:hover {
	fill: rgba(0,0,0,.5);
	cursor: pointer;
}

.navigationBar input[type=text] {
	border: 1px solid #5e6063;
	background-color: #5e6063;
	color: #ffffff;
}

.navigationBar input[type=text]:focus {
	outline: 0;
}

.search {
	padding: 6px 6px 6px 6px;
	margin: 3px;
	background: url('../images/search.png') no-repeat 95% 50%;
	background-color: white;
}

.search:focus {
	outline:0;
}

.searchDesc {
	color: rgba(0,0,0,.25);
	font-size: 12px;
}

.rounded {
	border-radius: 15px;
	border:0px;
}

.createLabelInput {
	background-color: #FEEAAC;
	border-radius: 5px;
	border:none;
	box-shadow: 1px 1px 2px rgba(0,0,0,.4) inset;
}

.createLabelInput td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.labelInput {
	float:right;
}

#labelKey {
	background-color: rgba(230,230,230,.5);
	color: black;
	font-family: Helvetica;
	width: 200px;
	overflow: auto;
	border-radius: 4px;
	padding: 10px;
	box-shadow: 2px 2px 10px rgba(0,0,0,.2);
	text-align:center;
	display:none;
}

#labelKey td {
	padding: 5px;
}

.labelKeyContainer {
	height: 200px;
	width: 220px;
	position: fixed;
	left: 10px;
	top: 55px;
	overflow: auto;
	z-index: 4;
	padding: 4px;
}

#loader {
	display: none;
	top: 103px;
	right: 28px;
}

#searchTable {
	width: 90%
}
